<Location /web>
  ProxyPass http://localhost:32400/web
  ProxyPassReverse http://localhost:32400/web
</Location>

<Location /plex>
  ProxyPass http://localhost:32400/web
  RequestHeader set X-Forwarded-Proto "https" env=HTTPS
  RequestHeader set X-Forwarded-Ssl on
  RequestHeader set X-Forwarded-Port "443"
  ProxyPassReverse http://localhost:32400/web
</Location>

<Location /plex.ws>
  # Websockets
  ProxyPass ws://127.0.0.1:32400/web/plex/ws keepalive=On timeout=600 retry=1 acquire=3000
  ProxyPassReverse ws://127.0.0.1:32400/web/plex/ws

  ProxyPassReverseCookieDomain 127.0.0.1 %{HTTP:Host}
</Location>

