[Unit]
Description=Bazarr Daemon
After=syslog.target network.target

[Service]
UMask=0002
Restart=on-failure
RestartSec=5
Type=simple
<% if @ubuntu_version == "2004" %>
ExecStart=/usr/bin/python3.8 %h/apps/bazarr/bazarr.py -c %h/.config/bazarr/data
<% else %>
ExecStart=/usr/bin/python3.7 %h/apps/bazarr/bazarr.py -c %h/.config/bazarr/data
<% end %>
KillSignal=SIGINT
TimeoutStopSec=20
SyslogIdentifier=bazarr

[Install]
WantedBy=default.target
