<Config>
  <Port><%= @port %></Port>
  <UrlBase>/radarr</UrlBase>
  <BindAddress>*</BindAddress>
  <SslPort><%= @ssl_port %></SslPort>
  <EnableSsl>False</EnableSsl>
  <ApiKey><%= @api_key %></ApiKey>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <LogLevel>Info</LogLevel>
  <LaunchBrowser>False</LaunchBrowser>
  <Branch>develop</Branch>
  <SslCertHash>
  </SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
  <UpdateAutomatically>True</UpdateAutomatically>
</Config>
