redirect "/rutorrent" "/rutorrent/"

<Location /rutorrent/>
  ProxyPass http://localhost:<%= @port %>/
  ProxyPassReverse http://localhost:<%= @port %>/
  Require all granted
</Location>

<Location /rutorrent/webdav>
  ProxyPass http://localhost:<%= @web_dav_port %>/
  ProxyPassReverse http://localhost:<%= @web_dav_port %>/
  Require all granted
</Location>
