[core]
username = <%= @user %>
ssl_key =
ssl_cert =
data_dir =
permission_folder = 0755
development = 0
url_base = couchpotato
debug = 0
launch_browser = True
password =
port = <%= @port %>
permission_file = 0644
show_wizard = 1

[download_providers]

[updater]
notification = True
enabled = True
git_command = git
automatic = True

[automation]
rating = 7.0
votes = 1000
hour = 12
required_genres =
year = 2011
ignored_genres =

[manage]
startup_scan = True
library_refresh_interval = 0
cleanup = True
enabled = False
library =

[renamer]
nfo_name = <filename>.orig.<ext>
from =
force_every = 2
move_leftover = False
to =
file_name = <thename><cd>.<ext>
enabled = False
next_on_failed = True
default_file_action = move
rename_nfo = True
unrar = False
check_space = True
cleanup = False
separator =
folder_name = <namethe> (<year>)
run_every = 1
foldersep =
file_action = link
ntfs_permission = False
unrar_path =
unrar_modify_date = False

[subtitle]
languages =
force = False
enabled = False

[trailer]
quality = 720p
enabled = False
name = <filename>-trailer

[blackhole]
directory = <%= @download_path %>
manual = 0
enabled = True
create_subdir = 0
use_for = both

[deluge]
username =
delete_failed = True
completed_directory =
manual = 0
enabled = 0
label =
paused = False
host = localhost:58846
delete_files = True
directory =
remove_complete = True
password =

[nzbget]
username = nzbget
category = Movies
delete_failed = True
manual = 0
enabled = 0
priority = 0
ssl = 0
host = localhost:6789
password =

[nzbvortex]
group =
delete_failed = True
manual = False
enabled = 0
host = https://localhost:4321
api_key =

[pneumatic]
directory =
manual = 0
enabled = 0

[qbittorrent]
username =
manual = 0
enabled = 0
paused = False
host = http://localhost:8080/
delete_files = True
remove_complete = False
password =

[rtorrent]
username =
rpc_url = RPC2
manual = 0
enabled = 0
label =
paused = False
ssl = 0
host = localhost:80
delete_files = True
directory =
remove_complete = False
password =

[sabnzbd]
category =
delete_failed = True
manual = False
enabled = 0
priority = 0
ssl = 0
host = localhost:8080
remove_complete = False
api_key =

[synology]
username =
manual = 0
destination =
enabled = 0
host = localhost:5000
password =
use_for = both

[transmission]
username =
stalled_as_failed = True
delete_failed = True
rpc_url = transmission
manual = 0
enabled = 0
paused = False
host = http://localhost:9091
delete_files = True
directory =
remove_complete = True
password =

[utorrent]
username =
delete_failed = True
manual = 0
enabled = 0
label =
paused = False
host = localhost:8000
delete_files = True
remove_complete = True
password =

[notification_providers]

[boxcar2]
token =
enabled = 0
on_snatch = 0

[email]
starttls = 0
smtp_pass =
on_snatch = 0
from =
to =
smtp_port = 25
enabled = 0
smtp_server =
smtp_user =
ssl = 0

[growl]
password =
on_snatch = False
hostname =
enabled = 0
port =

[nmj]
host = localhost
enabled = 0
mount =
database =

[notifymyandroid]
priority = 0
dev_key =
api_key =
enabled = 0
on_snatch = 0

[plex]
on_snatch = 0
clients =
enabled = 0
media_server = localhost

[prowl]
priority = 0
on_snatch = 0
api_key =
enabled = 0

[pushalot]
auth_token =
important = 0
enabled = 0
silent = 0
on_snatch = 0

[pushbullet]
on_snatch = 0
api_key =
enabled = 0
devices =

[pushover]
sound =
on_snatch = 0
user_key =
enabled = 0
priority = 0
api_token = YkxHMYDZp285L265L3IwH3LmzkTaCy

[synoindex]
enabled = 0

[toasty]
on_snatch = 0
api_key =
enabled = 0

[trakt]
remove_watchlist_enabled = False
notification_enabled = False
automation_password =
automation_enabled = False
automation_username =
automation_api_key =

[twitter]
on_snatch = 0
screen_name =
enabled = 0
access_token_key =
mention =
access_token_secret =
direct_message = 0

[xbmc]
username = xbmc
on_snatch = False
force_full_scan = 0
only_first = 0
enabled = 0
remote_dir_scan = 0
host = localhost:8080
password =
meta_disc_art_name = disc.png
meta_extra_thumbs_name = extrathumbs/thumb<i>.jpg
meta_thumbnail = True
meta_extra_fanart = False
meta_logo = False
meta_enabled = False
meta_landscape_name = landscape.jpg
meta_nfo_name = %s.nfo
meta_banner_name = banner.jpg
meta_landscape = False
meta_extra_fanart_name = extrafanart/extrafanart<i>.jpg
meta_nfo = True
meta_fanart = True
meta_thumbnail_name = %s.tbn
meta_url_only = False
meta_fanart_name = %s-fanart.jpg
meta_logo_name = logo.png
meta_banner = False
meta_clear_art = False
meta_clear_art_name = clearart.png
meta_extra_thumbs = False
meta_disc_art = False

[xmpp]
username =
on_snatch = 0
hostname = talk.google.com
enabled = 0
to =
password =
port = 5222

[nzb_providers]

[binsearch]
enabled =
extra_score = 0

[newznab]
use = 0,0,0,0,0
extra_score = 0,0,0,0,0
enabled = True
host = api.nzb.su,api.dognzb.cr,nzbs.org,https://api.nzbgeek.info,https://www.nzbfinder.ws
custom_tag = ,,,,
api_key = ,,,,

[nzbclub]
enabled =
extra_score = 0

[omgwtfnzbs]
username =
api_key =
enabled =
extra_score = 20

[torrent_providers]

[awesomehd]
seed_time = 40
extra_score = 20
only_internal = 1
passkey =
enabled = False
favor = both
prefer_internal = 1
seed_ratio = 1

[bithdtv]
username =
seed_time = 40
extra_score = 20
enabled = False
password =
seed_ratio = 1

[bitsoup]
username =
seed_time = 40
extra_score = 20
enabled = False
password =
seed_ratio = 1

[hdbits]
username =
seed_time = 40
extra_score = 0
passkey =
enabled = False
seed_ratio = 1

[ilovetorrents]
username =
seed_time = 40
extra_score = 0
enabled = False
password =
seed_ratio = 1

[iptorrents]
username =
freeleech = 0
extra_score = 0
enabled = False
seed_time = 40
password =
seed_ratio = 1

[kickasstorrents]
domain =
seed_time = 40
extra_score = 0
enabled = True
only_verified = False
seed_ratio = 1

[passthepopcorn]
username =
domain =
seed_time = 40
extra_score = 20
passkey =
prefer_scene = 0
enabled = False
prefer_golden = 1
require_approval = 0
password =
seed_ratio = 1
prefer_freeleech = 1

[sceneaccess]
username =
seed_time = 40
extra_score = 20
enabled = False
password =
seed_ratio = 1

[thepiratebay]
seed_time = 40
domain =
enabled = False
seed_ratio = 1
extra_score = 0

[torrentbytes]
username =
seed_time = 40
extra_score = 20
enabled = False
password =
seed_ratio = 1

[torrentday]
username =
seed_time = 40
extra_score = 0
enabled = False
password =
seed_ratio = 1

[torrentpotato]
use =
seed_time = 40
name =
extra_score = 0
enabled = False
host =
pass_key = ,
seed_ratio = 1

[torrentshack]
username =
seed_time = 40
extra_score = 0
enabled = False
scene_only = False
password =
seed_ratio = 1

[torrentz]
verified_only = True
extra_score = 0
minimal_seeds = 1
enabled = True
seed_time = 40
seed_ratio = 1

[yify]
seed_time = 40
domain =
enabled = False
seed_ratio = 1
extra_score = 0

[searcher]
preferred_method = both
required_words =
ignored_words = german, dutch, french, truefrench, danish, swedish, spanish, italian, korean, dubbed, swesub, korsub, dksubs, vain
preferred_words =

[nzb]
retention = 1500

[torrent]
minimum_seeders = 1

[charts]
hide_wanted = False
hide_library = False
max_items = 5

[automation_providers]

[bluray]
automation_enabled = False
chart_display_enabled = True
backlog = False

[flixster]
automation_ids_use =
automation_enabled = False
automation_ids =

[goodfilms]
automation_enabled = False
automation_username =

[imdb]
automation_charts_top250 = False
chart_display_boxoffice = True
chart_display_top250 = False
automation_enabled = False
chart_display_rentals = True
automation_urls_use =
automation_urls =
automation_providers_enabled = False
automation_charts_rentals = True
chart_display_theater = False
automation_charts_theater = True
chart_display_enabled = True
automation_charts_boxoffice = True

[itunes]
automation_enabled = False
automation_urls_use = ,
automation_urls = https://itunes.apple.com/rss/topmovies/limit=25/xml,

[kinepolis]
automation_enabled = False

[letterboxd]
automation_enabled = False
automation_urls_use =
automation_urls =

[moviemeter]
automation_enabled = False

[moviesio]
automation_enabled = False
automation_urls_use =
automation_urls =

[popularmovies]
automation_enabled = False

[rottentomatoes]
automation_enabled = False
tomatometer_percent = 80
automation_urls_use = 1
automation_urls = http://www.rottentomatoes.com/syndication/rss/in_theaters.xml

[themoviedb]
api_key = 9b939aee0aaafc12a65bf448e4af9543

[mediabrowser]
meta_enabled = False

[sonyps3]
meta_enabled = False

[windowsmediacenter]
meta_enabled = False

[moviesearcher]
cron_day = *
cron_hour = 11
cron_minute = 7
always_search = False
run_on_launch = 0
search_on_add = 1
