APP_NAME = Gitea BOSS edition
RUN_USER = <%= @user %>
RUN_MODE = prod

[security]
INTERNAL_TOKEN = <%= @internal_token %>
INSTALL_LOCK   = true
SECRET_KEY     = <%= @secret_key %>

[database]
DB_TYPE  = sqlite3
HOST     = 127.0.0.1:3306
NAME     = gitea
USER     = gitea
PASSWD   =
SSL_MODE = disable
CHARSET  = utf8
PATH     = <%= @home_folder %>/.config/gitea/data/gitea.db

[repository]
ROOT = <%= @home_folder %>/.config/gitea/repositories

[server]
SSH_DOMAIN       = localhost
DOMAIN           = localhost
HTTP_PORT        = <%= @port %>
ROOT_URL         = http://<%= "#{@user}.#{@container_name}.#{@host_name}" %>/gitea
DISABLE_SSH      = false
START_SSH_SERVER = true
SSH_PORT         = <%= @ssh_host_port %>
SSH_LISTEN_PORT  = <%= @ssh_port %>
SSH_DOMAIN       = <%= "#{@user}.#{@container_name}.#{@host_name}" %>

LFS_START_SERVER = true
LFS_CONTENT_PATH = <%= @home_folder %>/.config/gitea/data/lfs
LFS_JWT_SECRET   = <%= @lfs_jwt_secret %>
OFFLINE_MODE     = false

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM            = false
ENABLE_NOTIFY_MAIL                = false
DISABLE_REGISTRATION              = false
ALLOW_ONLY_EXTERNAL_REGISTRATION  = false
ENABLE_CAPTCHA                    = false
REQUIRE_SIGNIN_VIEW               = false
DEFAULT_KEEP_EMAIL_PRIVATE        = false
DEFAULT_ALLOW_CREATE_ORGANIZATION = true
DEFAULT_ENABLE_TIMETRACKING       = true
NO_REPLY_ADDRESS                  = noreply.example.org

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = true

[openid]
ENABLE_OPENID_SIGNIN = true
ENABLE_OPENID_SIGNUP = true

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = info
ROOT_PATH = <%= @home_folder %>/.config/gitea/logs
