[Unit]
Description=Remote desktop service (VNC)
After=network-online.target

[Service]
Type=simple
PIDFile=%h/.vnc/%H:<%= @offset %>.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :<%= @offset %> > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :<%= @offset %> -geometry 1440x900
ExecStop=/usr/bin/vncserver -kill :<%= @offset %>
Restart=on-failure

[Install]
WantedBy=default.target
