<Location /medusa>
ProxyPass http://localhost:<%= @port %>/medusa
RequestHeader set X-Forwarded-Proto "https" env=HTTPS
ProxyPassReverse http://localhost:<%= @port %>/medusa
</Location>

<Location /medusa/ws>
# Websockets
ProxyPass ws://127.0.0.1:<%= @port %>/medusa/ws keepalive=On timeout=600 retry=1 acquire=3000
ProxyPassReverse ws://127.0.0.1:<%= @port %>/medusa/ws
ProxyPassReverseCookieDomain 127.0.0.1 %{HTTP:Host}
</Location>
