[Unit]
Description=Olaris Media Server
After=network-online.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/killall -q olaris
ExecStart=%h/apps/olaris/bin/olaris serve --port <%= @port %>
Restart=on-failure

[Install]
WantedBy=default.target
