{
  "Port": <%= @port %>,
  "AllowExternal": true,
  "APIKey": "<%= @api_key %>",
  "AdminPassword": "<%= @sha_password %>",
  "UpdateDisabled": true,
  "BasePathOverride": "/jackett",
  "UpdatePrerelease": false
}
